name: Artifact Build

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        java-version: '21'
        distribution: 'adopt'

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Setup Gradle
      uses: gradle/actions/setup-gradle@v5
      with:
        cache-encryption-key: ${{ secrets.GRADLE_ENCRYPTION_KEY }}
        cache-read-only: false

    - name: Run Gradle
      run: ./gradlew assemblePrereleaseDebug --info --stacktrace --scan

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: pull-request-build
        path: "app/build/outputs/apk/prerelease/debug/*.apk"

    - name: Deploy Reports to GitHub Pages
      run: |
        BRANCH_NAME=${GITHUB_REF#refs/heads/}
        TARGET_DIR=gh-pages/$BRANCH_NAME
        mkdir -p "$TARGET_DIR"
        cp -r build/reports/* "$TARGET_DIR/"
      shell: bash

    - name: Push to GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./gh-pages
        user_name: "github-actions"
        user_email: "github-actions@github.com"
        commit_message: "Update reports for ${{ github.ref_name }} [ci skip]"
